<div class="container py-5">
  <h1>Menu of the Week</h1>
  <%= week_calendar(number_of_weeks: 1, attribute: :scheduled_to, events: @lunches) do |date, lunches| %>
    <%= date %>

    <% lunches.each do |lunch| %>
      <div class="lunch-div">
        <%= lunch.name %>
      </div>
    <% end %>
  <% end %>
</div>
